html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.main-container {
  display: flex;
  justify-content: center;
}

.navbar li a {
  line-height: 149px;
  font-size: 1.2rem;
}

.container-fluid {
  padding-left: 20px;
}
/* marketing message */

.marketing-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
}

.main-image img {
  max-height: 40rem;
  padding: 2rem 2rem;
}

.marketing-container video {
  width: 50%;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-left: 2rem;
  height: 30rem;
  line-height: 1.6;
  background-color: rgba(227, 229, 227, 1);
  border-radius: 20px;
  font-size: 1.2rem;
}

.message p {
  width: 80%;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.message:hover {
  background-color: rgba(189, 188, 188, 1);
  transition: background-color 1s linear;
}

/* info icons to other pages*/

.info-icons {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
  padding-top: 2rem;
  width: 100%;
  background-color: rgba(227, 229, 227, 1);
  border-radius: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 20%;
  border-radius: 10px;
}

.section:hover {
  background-color: rgba(189, 188, 188, 1);
  transition: background-color 1s linear;
}

.section img {
  object-fit: none;
}

.credit {
  text-align: right;
  font-size: 0.6rem;
  width: 100%;
}

/* footer */

footer {
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
  background-color: rgba(25, 84, 166, 0.8);
  color: white;
  font-size: 0.8rem;
}
